data_collection/test_collection/config.py
data_collection/final_collection/config.py
data_collection/final_collection/final_data
data_collection/final_collection/final_data2
exploratory_data_analysis/clean_test2.csv
exploratory_data_analysis/final_data
training_n_testing/train_data_loader
training_n_testing/validation_data_loader